Repository DeeepDev/release-flag-action: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --max-warnings 0

.lintstagedrc.yml:

"*.{js,ts,json}": "prettier --write"
"*.{js,ts}": "eslint --max-warnings 0"

feat: create initial script for banner generation
  .eslintrc
  action.yml
  package.json
  pnpm-lock.yaml
  rollup.config.js
  src/index.ts
  tsconfig.json
Due: prettier --write, eslint --max-warnings 0

chore: add initial test workflow for action
  .github/workflows/test.yml
  action.yml
  package.json
  pnpm-lock.yaml
  rollup.config.js
  rollup.config.mjs
  src/index.ts
  src/views/release-banner-template.hbs
  tsconfig.json
Due: prettier --write, eslint --max-warnings 0

chore: create initial context for template
  .github/workflows/test.yml
  action.yml
  package.json
  pnpm-lock.yaml
  src/index.ts
  src/views/release-banner-template.hbs
Due: prettier --write, eslint --max-warnings 0

chore: add font to repo
  .github/workflows/test.yml
  rollup.config.mjs
  src/assets/fonts/Inter-VariableFont.ttf
  src/index.ts
  src/views/release-banner-template.hbs
Due: prettier --write, eslint --max-warnings 0

chore: add 'install fonts bash script'
  rollup.config.mjs
  src/assets/fonts/Inter-VariableFont.ttf
  src/assets/fonts/Inter.zip
  src/index.ts
  src/install_fonts.sh
Due: prettier --write, eslint --max-warnings 0

chore: fix some bugs
  .github/workflows/test.yml
  package.json
  pnpm-lock.yaml
  rollup.config.mjs
  src/index.ts
  src/install_fonts.sh
Due: prettier --write, eslint --max-warnings 0

chore: clean some codes
  src/index.ts
  src/types.ts
  src/utils.ts
  src/views/release-flag-template.hbs
Due: prettier --write, eslint --max-warnings 0

chore: use prerelease context var in the template
  src/views/release-flag-template.hbs
Due: none

feat: add flag-quality parameter to the action
  action.yml
  src/index.ts
  src/utils.ts
Due: prettier --write, eslint --max-warnings 0

chore: use rollup plugin terser to minify build code
  package.json
  pnpm-lock.yaml
  rollup.config.mjs
Due: prettier --write

chore: minor changes
  .github/workflows/test.yml
  action.yml
  src/index.ts
Due: prettier --write, eslint --max-warnings 0

chore: finalize validate workflow file
  .github/workflows/validate.yml
Due: none

chore: minor change
  src/install_fonts.sh
Due: none

feat: develop script for flag generation (#1)
  .eslintrc
  .github/workflows/validate.yml
  action.yml
  package.json
  pnpm-lock.yaml
  rollup.config.mjs
  src/assets/fonts/Inter.zip
  src/index.ts
  src/install_fonts.sh
  src/types.ts
  src/utils.ts
  src/views/release-flag-template.hbs
  tsconfig.json
Due: prettier --write, eslint --max-warnings 0

feat: add telegram message feature
  .github/workflows/validate.yml
  action.yml
  package.json
  pnpm-lock.yaml
  src/index.ts
  src/telegram.ts
Due: prettier --write, eslint --max-warnings 0

chore: minor changes
  .github/workflows/validate.yml
Due: none

chore: minor changes
  .github/workflows/validate.yml
  src/telegram.ts
Due: prettier --write, eslint --max-warnings 0

chore: add 'pnpm build' to the action itself
  .github/workflows/validate.yml
  action.yml
Due: none

chore: minor changes
  .github/workflows/validate.yml
  action.yml
Due: none

feat: add axios-retry interceptor
  package.json
  pnpm-lock.yaml
  src/axios.ts
  src/index.ts
  src/telegram.ts
Due: prettier --write, eslint --max-warnings 0

feat: add telegram message feature (#2)
  .github/workflows/validate.yml
  action.yml
  package.json
  pnpm-lock.yaml
  src/axios.ts
  src/index.ts
  src/telegram.ts
Due: prettier --write, eslint --max-warnings 0

chore: prepare code for initial publish
  .github/workflows/validate.yml
  .gitignore
  .husky/pre-commit
  dist/index.cjs
  rollup.config.mjs
  src/index.ts
  static/assets/fonts/Inter.zip
  static/install_fonts.sh
  static/views/release-flag-template.hbs
Due: prettier --write, eslint --max-warnings 0

chore: minor fix
  .github/workflows/validate.yml
Due: none

chore: minor fixes
  dist/index.cjs
  src/index.ts
Due: prettier --write, eslint --max-warnings 0

chore: exclude dist directory in lint & format scripts
  .prettierignore
  package.json
Due: prettier --write

chore: make pre-commit hook add latest build to commit
  .husky/pre-commit
Due: none

chore: handle axios errors on request to github API
  dist/index.cjs
  src/axios.ts
  src/index.ts
  src/types.ts
Due: prettier --write, eslint --max-warnings 0

chore: prepare code for initial publish (#3)
  .github/workflows/validate.yml
  .gitignore
  .husky/pre-commit
  .prettierignore
  dist/index.cjs
  package.json
  rollup.config.mjs
  src/axios.ts
  src/index.ts
  src/types.ts
  static/assets/fonts/Inter.zip
  static/install_fonts.sh
  static/views/release-flag-template.hbs
Due: prettier --write, eslint --max-warnings 0

chore: add initial readme for action
  README.md
  action.yml
  dist/index.cjs
  src/index.ts
  static/sample-output.jpg
Due: prettier --write, eslint --max-warnings 0

chore: little changes
  README.md
Due: none

chore: add initial readme for action (#4)
  README.md
  action.yml
  dist/index.cjs
  src/index.ts
  static/sample-output.jpg
Due: prettier --write, eslint --max-warnings 0
